body
    padding-top 10 px
.navbar-header a.navbar-brand
    margin-bottom -20px
    h6
        color #ccc
footer
    padding-left 15px
    padding-right 15px
    padding-top 70%
.container50
    width 50%    
.add100
.well50
    width 60%
    padding-top 100px
   p
        border-top 1px solid #d7e0e2
