.container100
    form.form-vertical(name="BudgetTrends" novalidate ng-submit='submitForm()')
     .row&nbsp;
            .row.align-items-start
                .div(style="width:80%;display: block;margin: 0 auto;")
                    .form-group
                        .col-md-1
                            H4 Trends:
                        .col-md-3
                            label.labelfont.text-left.radio.inline(for="allhistory" style="padding-left:50px") All To Present 
                                input(type="radio" id="allhihstory" name="trends" ng-model="btc.rdoTrends" value="all" required) 
                        .col-md-2
                            label.labelfont.radio.inline(for="bymonth") By Month
                                input(type="radio" id="bymonth" name="trends" value='bymonth' ng-model="btc.rdoTrends")
                        .div
                            .col-md-2
                                select(monthpkr ng-model="btc.month" ng-required="btc.rdoTrends=='bymonth'" style='position:absolute;top:10px')
                              
                                  
                       .col-md-3
                           a.btn.btn-primary(ng-click="btc.Search()" ng-disabled='BudgetTrends.$invalid') Search
       
hr(style="height:3px;border:none;color:#333;background-color:#333;")  
.div(ng-show="btc.ShowMessage" ng-cloak)
    {{btc.Message}}
.div(style="width:100%;display: block;margin: 0 auto;" ng-show="!btc.ShowMessage" ng-cloak)
    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Total Budget Amount Year To Date: &nbsp;
        ${{btc.Activity.Budgeted[0].totalbudget}}
    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Total Spent Year To Date: &nbsp;
        ${{btc.Activity.Spent[0].totalspent}}
    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Top spending month: &nbsp;
        {{btc.Activity.TopMonth}}     
    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Lowest spending month: &nbsp;
        {{btc.Activity.LowMonth}} 

    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Number Of Times Over Budget: &nbsp;
        .row(ng-repeat="ts in btc.Activity.OverSpent")
            .col-sm-2.align-items-center.row-head {{ts.budgetstartdate|date:'MM/dd/yyyy'}}




    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Stores Visited: &nbsp;
    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Stores Most Money Spent: &nbsp;
    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Spending By Payment Type: &nbsp;
  

    .div(ng-show='btc.ShowOverBudget()')
        .row
            .col.md-6.inline(style="float:left;font-weight:bold") Budget Weeks Overbudget: &nbsp;
         .row
            .col.md-6.inline(style="float:left;font-weight:bold") Amount Overbudget: &nbsp;

    .row
        .col.md-6.inline(style="float:left;font-weight:bold") Store(s) with most activity: &nbsp;
        {{btc.TopActivity.storeinfo}}
    .row 
        .col.md-11.inline(style="float:left;font-weight:bold") Number of visits: &nbsp;
        {{btc.TopActivity.visits}}  
    .row 
        .col.md-11.inline(style="float:left;font-weight:bold") Average Spent per visit: &nbsp;
        {{btc.TopActivity.avgpervist}}  
    .row 
        .col.md-11.inline(style="float:left;font-weight:bold") Total Spent: &nbsp;
        {{btc.TopActivity.totalSpent}}  
    .row
        .datepicker(min-mode="month")

   //- .col-md-1.inline(style="float:left")(ng-repeat="item in btc.TopActivity") {{item._id}}         