.container
    fieldset
        .row
            .col-sm-3
                b Budget Dates: 
            {{data.BudgetStartDate|date:"MM/dd/yyyy"}} to {{data.BudgetEndDate|date:"MM/dd/yyyy"}}
        .row
            .col-sm-4
                b Days Left in Budget: 
            {{findDiff(data)}}
        .row
            .col-sm-6
                b Amount Remaining in Budget:
            {{data.BudgetAmount|currency : "$" : 2}}
        .row
            .col-sm-6
                b Budget Status:
            {{data.BudgetStatus}}
hr            
h4 Transactions
    .row(ng-hide="ShowMsg()") 
       .col-sm-12.offset-3
            h3 There are no transactions for this budget.
    .row&nbsp;
    .row&nbsp;
    .row&nbsp;
        .col-sm-6
            a.btn.btn-primary.pull-right(ng-click="CreateNewTrans()") Create New Transaction


//-         if {{data.Transactions.length===0}}
//-             .row    
//-                 b here
//-         else
//-             .row
//-                 b there
