.container
    fieldset
        .row
            .col-sm-3
                b Budget Dates: 
            {{data.BudgetStartDate|date:"MM/dd/yyyy"}} to {{data.BudgetEndDate|date:"MM/dd/yyyy"}}
        .row
            .col-sm-4
                b Days Left in Budget: 
            {{findDiff(data)}}
        .row
            .col-sm-6
                b Budget Amount:
            {{data.BudgetAmount|currency : "$" : 2}}
        .row
            .col-sm-6
                b Budget Status:
            {{data.BudgetStatus}}
        .row
            .col-sm-6
                b Budget Type:
            {{data.BudgetType}}
hr            
h4 Transactions
    .row(ng-hide="ShowMsg()") 
       .col-sm-12.offset-3
            h3 There are no transactions for this budget.
    .row&nbsp;
    .row&nbsp;
    .row&nbsp;

    .row(ng-show="ShowMsg()") 
        b.col-sm-3.align-items-center.row-head-height-blue Transaction Date
        b.col-sm-2.align-items-center.row-head-height-blue UPC
        b.col-sm-2.align-items-center.row-head-height-blue Amount
        b.col-sm-3.align-items-center.row-head-height-blue Item Description
        b.col-sm-2.align-items-center.row-head-height-blue Store

    .row(ng-repeat="trans in data.Transactions")
        .col-sm-3.align-items-center.row-head {{trans.transdate|date:"MM/dd/yyyy"}}
        .col-sm-2.align-items-center.row-head {{trans.upc}}
        .col-sm-2.align-items-center.row-head {{trans.itemprice|currency : "$" : 2}}
        .col-sm-3.align-items-center.row-head {{trans.itemdescription}}
        .col-sm-2.align-items-center.row-head {{trans.store}}
    .row&nbsp;
    .row&nbsp;
    .row&nbsp;
    .row.font10
        b.col-sm-10.text-right Budget Amount:
        .col-sm-2.text-right {{data.BudgetAmount|currency : "$" : 2}}
    .row.font10
        b.col-sm-10.text-right Transaction Total:
        .col-sm-2.text-right {{data.Transactions|sumByKey:'itemprice'|currency : "$" : 2}}
    .row.font10
        b.col-sm-10.text-right Remaining Budget Amount:
        .col-sm-2.text-right {{data.BudgetAmount-(data.Transactions|sumByKey:'itemprice')|currency : "$" : 2}}

   row&nbsp;
    .row&nbsp;
    .row&nbsp;
    .row&nbsp;
    .row&nbsp;
    .row&nbsp;
        .col-sm-6
            a.btn.btn-primary.pull-right(ng-click="CreateNewTrans()" ng-show="ShowButton()") Create New Transaction


//-         if {{data.Transactions.length===0}}
//-             .row    
//-                 b here
//-         else
//-             .row
//-                 b there
