.container(ng-controlller="newbudgetcontroller")
    form.form-horizontal(name=newBudget)
        fieldset
            ledgend New newBudget
                .form-group
                    label.col-sm-2.control-label(for="startdate") Budget Begin 
                    .col-sm-6
                        input.form-control(name="startdate", type="text",placeholder="Budget Start Date" ng-model="stardate" datepkr="" style="width:150px")
                .form-group
                    label.col-sm-2.control-label(for="enddate") Budget End
                    .col-sm-6
                        input.form-control(name="enddate", type="text",placeholder="Budget End Date" ng-model="enddate" datepkr="" style="width:150px")
                .form-group
                    label.col-sm-2.control-label(for="budgetamt") Budget Amount
                    .col-sm-6
                        input.form-control(name="budgetamt", type="text",placeholder="Budget Amount" ng-model="budgetamt"  style="width:150px")
                form-group
                    .col-md-10.col-md-offset-2
                    
                        button.btn.btn-primary(ng-click="AddBuget()", ng-disabled="signupForm.$invalid") Submit
                        &nbsp;
                        a.btn.btn-default(href="/") Cancel                        
                        





//- .container
//-     .well.well50
//-         form.form-horizontal(name=newBudget)
//-             fieldset
//-                 ledgend New newBudget
//-                 .form-group
//-                     .row
//-                         label.col.control-label.text-left(for="startdate") Budget Begin
//-                     .row
//-                          input.col-sm-2.form-control(name="startdate", type="text",placeholder="Budget Start Date" ng-model="date" datepkr="" style="width:150px")
                   
                       
