.container
    form.form-vertical(name="NewTransaction")
        H3 Create Transaction
            .row&nbsp;
            .row.align-items-start
                .form-group
                    .col-md-4
                        label.labelfont.text-left.paddingleft10(for="transdate") Transation Date 
                        input.form-control.col-sm-12(name="transdate", type="text", ng-model="transdate" datepkr="" style="width:150px")
                    .col-md-4
                        label.labelfont.text-left.paddingleft10(for="transamt") Transaction Amount 
                        input.form-control.col-sm-12(name="transamt", type="text", ng-model="transamt" style="width:150px")
                    .col-md-2
                        label.labelfont.text-left.paddingleft10(for="upc") UPC 
                        input.form-control.col-sm-12(name="upc", type="text", ng-model="upc" ng-keydown="EvalUPC()" style="width:160px")
             .row.align-items-start
                .form-group
                    .col-md-12
                        label.labelfont.text-left.paddingleft10(for="store") Store 
                        input.form-control(name="store", ng-model='store' style="width:300px")
            .row.align-items-start
                .form-group
                    .col-md-12
                        label.labelfont.text-left.paddingleft10(for="itemDescription") Item Description 
                        textarea.form-control(name="itemDescription", ng-model='itemDescription' cols="30", rows="3" style="resize:none;")
            .row&nbsp;
            .row.align-items-start
                form-group
                        .col-md-12.col.text-right
                            a.btn.btn-primary(ng-click="AddTransaction()") Submit
                            &nbsp;
                            submit.btn.btn-primary(confirmed-click="DeleteTransaction()" confirm-click="") Delete
                            &nbsp;
                            a.btn.btn-default(ng-click="ClearForm()") Cancel     
                            a.btn.btn-default.pull-right(ui-sref="details") Back                      
                   