.container100
     H3 
        form.form-vertical(name="NewTransaction" novalidate ng-submit='phc.submitForm()')
            .row&nbsp;
            .row.align-items-start
                 .div(style="width:75%;display: block;margin: 0 auto;")
                    .form-group
                        .col-md-2
                            H4 Search History By:
                        .col-md-2
                            label.labelfont.text-left.paddingleft10.radio.inline(for="allhistory") All History 
                                input(type="radio" id="allhihstory" name="history" ng-model="phc.rdoHistory" value="all") 
                        .col-md-2
                            label.labelfont.paddingleft65.radio.inline(for="upc") UPC
                                input(type="radio" id="upc" name="history" value='upc' ng-model="phc.rdoHistory")
                        .col-md-1
                            label.labelfont.radio.inline(for="date") Date
                                input(type="radio" id="date" name="history" value='date' ng-model="phc.rdoHistory")
                        .div(ng-show="phc.HideAllBoxes()")
                            .col-md-4.inline(ng-show="!phc.ShowDate()")
                                input.form-control(type="text" id="upcdisplay" name="searchval" style="width:126px;font-size:10pt" ng-model="phc.upc" placeholder="UPC" ng-required="phc.rdoHistory=='upc'")
                                
                            .col-md-2.inline(ng-show="phc.ShowDate()")
                                input.form-control(type="text" id="fromDate" name="searchval" style="width:126px;font-size:10pt" ng-model="phc.startDate" datepkr="" placeholder="Start Date" ng-required="phc.rdoHistory=='date'")
                            .col-md-2.inline(ng-show="phc.ShowDate()")
                                input.form-control(type="text" id="toDate" name="searchval" style="width:126px;font-size:10pt" ng-model="phc.endDate" datepkr="" placeholder="End Date" ng-required="phc.rdoHistory=='date'")
                         
                        .col-md-1
                           a.btn.btn-primary(ng-click="phc.Search()" ng-disabled='NewTransaction.$invalid') Search
   
hr(style="height:3px;border:none;color:#333;background-color:#333;")
.div(id="grid1" ui-grid="phc.history" ui-grid-grouping class="grid")

                        
