.container
    form.form-vertical(name="NewTransaction" novalidate ng-submit='submitForm()')
        H3 Purchase History
            .row&nbsp;
            .row.align-items-start
                div.form-group
                    label(for="all") All History
