doctype
html
    head
        title SpendTracker
        base(href="/")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
       

    body(ng-app='spendtrackerapp')
        include scripts
        block main-content
        